# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

logs.md

# Caches 

.cache

# Dependencies

node_modules/
bun.lockb

# TypeScript cache

*.tsbuildinfo

# Optional npm cache directory

.npm

# Optional eslint cache

.eslintcache

# dotenv environment variable files

.env*

# build output

.out

# public

static/styles.css
static/bundle.min.js

# Database Local files

src/db/data

# Finder (MacOS) folder config
.DS_Store
